watchdog>=6.0.0
pydantic>=2.13.4
pydantic-settings>=2.14.2
Jinja2>=3.1.6
openpyxl>=3.1.5
python-docx>=1.2.0
httpx>=0.28.1
pyclean>=3.7.0
markdown>=3.10.2
pytest>=9.1.1
pytest-asyncio>=1.4.0
openapi-generator-cli[jdk4py]>=7.23.0
datamodel-code-generator[ruff]>=0.67.0